@page
@using HillerødSejlklub.Library
@model BookBoatModel
@{
}

<div class="text-center">
    <h1>Under Maintenance</h1>
    <img src="Images/Caution.png" alt="Maintenance" style="max-width: 50%;">
</div>