@page
@using HillerødSejlklub.Library
@model UserCreateModel
@{
}

<h1>Opret Ny bruger</h1>

<form method="post">

    Bruger navn : <input name="Name" /> <br />
    Bruger adresse : <input name="Adress" /> <br />
    Bruger telefon : <input name="Phone" /> <br />
    Bruger email : <input name="Email" /> <br />

    <input type="submit" value="tilføj" /> <br />



</form>
